#cursor {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  /* 初期位置を画面外にする */
  transform: translate(-100px, -100px);
}

.cursor-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: solid 1px black;
  opacity: 0.5;
}
